/*
Copyright 2012, Marcus McKinnon, E.J. Wilburn, Kevin Williams
This program is distributed under the terms of the GNU General Public License.

This file is part of Palaver.

Palaver is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

Palaver is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Palaver.  If not, see <http://www.gnu.org/licenses/>.
*/

html, body, .container-fluid, .row {
  height: 100%;
}

nav {
  height: 50px;
}

body {
  padding-top: 50px;
}

.sidebar {
  background-color: #CCCCCC;
}

@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #CCCCCC;
  }
}

.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

#commentsArea {
	padding-left: 0px;
	padding-right: 0px;
}

#threads {
	margin-top: 10px;
}

.list-group-item {
	line-height: 50%;
}

.list-group-item:hover {
	background-color: gray;
}

.comment {
	margin: 10px;
}

.comment .card-block {
	padding: 10px;
}

.comment .card {
	margin-top: 5px;
}

.comment .card-header {
	padding: 4px;
}

div .reply {
	margin: 0px;
	padding: 0px;
	height: 25px;
}

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*
header, html, body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    height: 100%;
    overflow: hidden;
}
*/

/*
body { margin: 0; -webkit-text-size-adjust: 100%; }
.page { left: 0; right: 0; top: 0; bottom: 0; }
.pageRow, .pageCol, .page { overflow: hidden; position: absolute; }
.pageRow { left: 0; right: 0; }
.pageCol { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }
.pane { display: none; }
*/

/* Pane configuration */
/*
.left.pageCol { width: 300px; }
.right.pageCol { left: 300px; right: 0; }
.header.row { height: 75px; line-height: 75px; }
.body.pageRow { top: 75px; bottom: 50px; }
.footer.pageRow { height: 50px; bottom: 0; line-height: 50px; }

body { font-family: 'Helvetica Neue', Arial, Sans-Serif; }
.header, .footer {
    color: #eee; background: #696f77; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); padding: 0 0.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696f77), color-stop(100%,#28343b));
    background: -webkit-linear-gradient(top, #696f77 0%,#28343b 100%); background: -ms-linear-gradient(top, #696f77 0%,#28343b 100%); 
}
.header { font-size: 1.4em; }
.body, .pane { background: #ddd }
.right.pageCol { border-left: 1px solid black; }
.right.pageCol .body { padding: 0 1em; }
.listview { padding: 0; margin: 0; font-weight: bold; color: #444; }
.listview li { list-style-type: none; background: #eee; padding: 1em; border-top: 1px solid #aaa; border-bottom: 1px solid #fff; cursor: pointer; }
.listview li.selected { background-color: #37F; color: White; }
            
.listview.inset { margin: 1em 0; }
.listview.inset li { background: white; border: 2px solid #aaa; border-bottom-width: 0; }
.listview.inset li:first-child { border-radius: 1em 1em 0em 0em }
.listview.inset li:last-child { border-radius: 0em 0em 1em 1em; border-bottom-width: 2px; }
            
.tiles { overflow-y: hidden; }
.tiles > ul { width: 1175px; }
.tiles ul { margin: 0; padding: 0; white-space: nowrap; }
.tiles li { list-style-type: none; display: inline-block; background-color: #080; width:150px; height: 150px; padding: 1em; color: White; margin: 5px; font-weight: bold; zoom:1; *display: inline; }

button { display: block; border: 2px solid #aaa; line-height: normal; background-color: White; border-radius: 8px; margin: 8px 0; cursor: pointer; padding: 5px 20px; font-weight: bold; color: #333; }
*/

/*
header, footer
{
    overflow: hidden !important;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
/*
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}
*/
*/

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
/*
.page {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
*/

/*
header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}
*/

/*
#main {
    height: 95%;
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

#pageContent {
    height: 100%;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}
*/
/* TAB MENU   
----------------------------------------------------------*/
/*
ul#menu {
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}
*/

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
/*
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}
*/
/* TABLE
----------------------------------------------------------*/

/*
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
*/
/* MISC  
----------------------------------------------------------*/
/*
.clear {
    clear: both;
}

.error {
    color: Red;
}
*/
/*
nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}
*/

/*
#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}
*/

/* Styles for validation helpers
-----------------------------------------------------------*/
/*
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}
*/
/* Styles for editor and display helpers
----------------------------------------------------------*/
/*
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
*/

/* styles for palaver */
/*
div#threadList 
{
    width: 33%;
    height: 100%;
    float: left;
    overflow: auto;
}

div#threadArea input
{
}

div#commentsArea
{
    width: 66%;
    height: 100%;
    float: left;
    overflow: none;
    position: inherit;
    top: 0px;
    left: 33%;
}

div#comments
{
    top: 0px;
    width: 100%;
    height: 95%;
    position: inherit;
    overflow: auto;
    left: 0px;
}

.commentsLoading
{
    background-color: Gray;
}
*/

/*
div#comments ul.commentlist
{
    padding-left: 15px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div#comments li.comment
{
    border-left: 1px solid lightgrey;
    list-style-type: none;
    padding-left: 5px;
    margin-top: -2px;
    padding-top: 2px;
    margin-left: 0;
}

div#comments
{
    margin-left: -10px;
}

div#threads ul
{
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: bottom;
}

div#threads ul img
{
    vertical-align: middle;
}

a.reply
{
    margin-left: 5px;
    font-size: .8em;
}

.user,.commentTime
{
    margin-right: 10px;
    color: Teal;
}

.commentTime
{
    font-size: smaller;
}

.submit
{
    margin-right: 5px;
}

.newcomment, .newcomments
{
    background-color: #AFDCEC;
}

li.selectedThread
{
    border-width: thin;
    border-style: dashed;
}

.threadNewComments
{
    color: Black;
}

.comment:focus
{
    background-color: #E5FFEB;
}

div.comment
{
    margin-top: 2px;
    margin-right: 2px;
    padding: 5px;
}

textarea
{
    margin-left: 10px;
    height: 15px; 
    width: 100%;
}

div.reply
{
    cursor: pointer;
    height: 5px;
    margin-left: 20px;
}

hr.reply
{
    padding-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border: 0px;
    border-bottom: 1px dashed Gray;
    margin-top: 2px;
}

hr.reply:hover
{
    border: 0px;
    border-bottom: 1px dashed Blue;
}

div.reply:hover
{
    color: Blue;
    border: 1px;
    outline-color: Blue;
    border-color: Blue;
    border-style: solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

div.clear
{
    clear:both;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

.busy
{
    cursor: wait;
}
*/

/* remove padding and scrolling from elements that contain an Accordion OR a content-div */
/*
.ui-layout-center ,
.ui-layout-west ,
.ui-layout-east ,
.ui-layout-east .ui-layout-content { 
	padding: 0;
	overflow: hidden;
}

.ui-layout-center P.ui-layout-content {
	line-height:	1.4em;
	margin:			0; 
}

h3, h4 { 
	font-size:		1.1em;
	background:		#EEF;
	border:			1px solid #BBB;
	border-width:	0 0 1px;
	padding:		7px 10px;
	margin:			0;
}

.ui-layout-east h4 { 
	font-size:		0.9em;
	font-weight:	normal;
	border-width:	1px 0 0;
}

#newcomment 
{
    width: 100%;
}

div.blockMsg h1 {
	color:		#fff;
	font-size:	large;
}
*/